<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="castle" >
  <appSettings>
    <add key="EnableSqlDependency" value= "true" />
    <add key="ApplicationId" value= "1156635007734759" />
      <add key="ApplicationUrl" value="" />
      <add key="ApiKey" value="" />
      <add key="ApplicationSecret" value="ae8db693f16d4bca22867c6aaad5c0c2"/>
        <add key="ExtendedPermissions" value="offline_access" />
      </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>